@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

/* html { 
    min-height: 100% 
} */

body {
    margin: 0px;
    /* min-height: 100% */
}

h1 {
    font-family: norse-bold, Georgia, 'Times New Roman', Times, serif
}

img {
    max-width: 100%;
    /* min-height: 100%; */
    object-fit: contain;
}

.container {
    min-height: 100%;
    display: flex;
}

.image-container {
    position: relative;
    width: max-content;
}

#fern {
    /* z-index: -1; */
    /* position: relative; */
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.credit {
    color: white;
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    bottom: 15px;
    /* left: 15px; */
    /* z-index: 1; */
}

.credit a {
    color: white;
}

.right-side {
    margin: 15px;
}

input {
    /* margin-top: 8px; */
    margin-right: 16px;
}

/* .form-lines {
    display: flex;
} */

/* input {
    display: flex;
    flex-direction: row;
} */

.input-pair {
    display: flex;
    flex-direction: column;
}

.pair-containers {
    display: flex;
    flex-direction: row;
}

#create-account {
    background-color: #596D48;
    color: whitesmoke;
    border-radius: 5px;
    width: 200px;
    height: 45px;
}