@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

h1 {
    font-family: norse-bold, Georgia, 'Times New Roman', Times, serif
}

img {
    max-width: 25%;
}

.container {
    display: flex;
}

.right-side {
    margin: 15px;
}

#create-account {
    background-color: #596D48;
    color: whitesmoke;
    border-radius: 5px;
    width: 200px;
    height: 45px;
}