@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

:root {
    --padding-length: 30px;
}

body {
    margin: 0px;
    background-color: whitesmoke;
    /* min-height: 100% */
}

form {
    background-color: white;
    box-shadow: 
        0px 2px grey,
        0px 4px darkgray,
        0px 6px lightgrey
    ;
    padding-left: var(--padding-length);

}

#have-account {
    padding-left: var(--padding-length);
}

#create-account {
    margin-left: var(--padding-length);
    margin-top: 18px;
}

.right-side {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
}

h1, #top-p {
    font-family: norse-bold, Georgia, 'Times New Roman', Times, serif;
    margin-left: var(--padding-length);
}

img {
    max-width: 100%;
    /* min-height: 100%; */
    object-fit: contain;
}

.container {
    min-height: 100%;
    display: flex;
}

.image-container {
    position: relative;
    width: max-content;
}

#fern {
    /* z-index: -1; */
    /* position: relative; */
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.credit {
    color: white;
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    bottom: 15px;
    /* left: 15px; */
    /* z-index: 1; */
}

.credit a {
    color: white;
}

input {
    /* margin-top: 8px; */
    margin-right: 16px;
}

.input-pair {
    display: flex;
    flex-direction: column;
}

.pair-containers {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 4px;
}

#create-account {
    background-color: #596D48;
    color: whitesmoke;
    border-radius: 5px;
    width: 200px;
    height: 45px;
}